<div class="codepage">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/languages/ruby.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>

<h1>Here is your code!</h1>
<h6><a href="/">Head back to the homepage</a></h6>

<div class="models-view">
<h2>Models</h2>

<%@tables.each do |table|%>

	<%if table.name.include?("_") == false%>
	<h3 style="display: inline;"><%=table.name%> Model</h3><br>
	<h5 style="display: inline;">(consider naming this model file <%=table.name.singularize%>.rb)</h5>

	<pre><code class="ruby">class <%=table.name.singularize%> < ActiveRecord::Base<%if ass_target(table.id)%><%relevant_rel = ass_target(table.id)%><%relevant_rel.each do |rel| %><%if con_check(rel,"NA") && ass_not(rel,"has_belongs_many") && ass_not(rel,"has_many_poly")%>
	belongs_to :<%=tab_name(@tables,rel)%><%end%><%if ass_check(rel,"has_belongs_many") && con_check(rel,"NA")%>
	has_and_belongs_to_many :<%=tab_name(@tables,rel,2)%><%end%><%if ass_check(rel,"has_many_poly")%>
	has_many :<%=tab_name(@tables,rel,2)%>, as: :<%=poly_name(@tables,rel)%><%end%><%end%><%end%><%if ass_origin(table.id)%><%relevant_rel = ass_origin(table.id)%><%relevant_rel.each do |rel| %><%if ass_check(rel,"has_one") && con_check(rel,"NA")%>
	has_one :<%=tab_name(@tables,rel,3)%><%end%><%if ass_check(rel,"has_one") && con_check(rel,"through")%>
	has_one :<%=tab_name(@tables,rel,3)%>, through: :<%=tab_name(@tables,rel,5)%><%end%><%if ass_check(rel,"has_many") && con_check(rel, "NA")%>
	has_many :<%=tab_name(@tables,rel,4)%><%end%><%if ass_check(rel,"has_many") && con_check(rel,"through")%>
	has_many :<%=tab_name(@tables,rel,4)%>, through: :<%=tab_name(@tables,rel,6)%><%end%><%if ass_check(rel,"has_belongs_many") && con_check(rel,"NA")%>
	has_and_belongs_to_many :<%=tab_name(@tables,rel,4)%><%end%><%if ass_check(rel,"has_many_poly") && @poly_check != rel.origin_id%>
	belongs_to :<%=poly_name(@tables,rel)%>, polymorphic: true<%@poly_check=rel.origin_id%><%end%><%end%><%end%>
	<%table.columns.each do |col|%><%if col.presence? == 1 && col.unique? == 1%>
	validates :<%=col.name%>, presence: true, uniqueness: true<%elsif col.presence? == 1%>
	validates :<%=col.name%>, presence: true<%elsif col.unique? == 1%>
	validates :<%=col.name%>, uniqueness: true<%end%><%end%>
end</code></pre>
	<%end%>

<%end%>

</div>

<div class="migrations-view">

<h2>Migrations</h2>

<%@tables.each do |table|%>

	<h3 style="display: inline;"><%=table.name%> Migration</h3><br> 
	<h5 style="display: inline;">(consider naming this table in the migration 'create_<%=table.name.downcase%>_table' -- note the first line of the below follows this convention)</h5>

	<%table_name = table_split(table)%>

	<pre><code class="ruby">class Create<%=table_name%>Table < ActiveRecord::Migration
	def change
		create_table :<%=table.name.downcase%><%if table.name.include?("_")%>, id: false<%end%> do |t|<%table.columns.each do |col|%>
			t.<%=col.category%> :<%=col.name%><%if col.polymorphic? == 1%>, polymorphic: true<%end%><%if col.foreignkey? == 1 || col.polymorphic? == 1%>, index: true<%end%><%end%>
			<%if table.name.include?("_") == false%>t.timestamps null: false<%end%>
		end
	end
end</code></pre>

<%end%>

</div>

</div>
<script>hljs.initHighlightingOnLoad();</script>
