<div class="container">

  <div class="navbar-fixed">
   <nav>

     <div class="nav-wrapper deep-orange accent-2">
       <a href="/posts" class="brand-logo">-->Scum Overflow</a>

       <ul class="right hide-on-med-and-down">
         <li><a href="/user<%=@id%>">Profile</a></li>
         <li><a href="/logout">Logout</a></li>
       </ul>
     </div>
   </nav>
 </div>
</div>
<div class="fixed-action-btn horizontal" style="top: 110px; right: 1020px;">
  <a class="btn-floating btn-large deep-purple darken-4">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating deep-purple lighten-4"><i class="material-icons">edit</i></a></li>
    <li><a class="btn-floating deep-purple lighten-2 commenting"><i class="material-icons">comment</i></a></li>
    <li><a class="btn-floating deep-purple downvote"><i class="material-icons">thumb_down</i></a></li>
    <li><a class="btn-floating deep-purple darken-2 upvote"><i class="material-icons">thumb_up</i></a></li>
  </ul>
</div>

<h3 id="post-title"><%= @post.title %></h3>

<h5 id="post-title">Points <span id="points"><%= @post.points %></span></h5>

<p id="post-title" >Submitted by <%= @post.user.username %> at <%= @post.created_at %></p>
<ul class="collection">
  <% @post.answers.each do |answer| %>
  <li class="collection-item">
    <i class="material-icons">filter_drama</i> <%= answer.title %><br>

    <%= answer.content %><br><br>
    Submitted by <%= answer.user.username %> at <%= answer.created_at %>
  </li>
  <% end %>
</ul>




<p><span class="identifier" id="<%= @post.id %>"></span><p>
<div id="comment-form">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">New Comment</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light dope" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </form>

  </div>
</div>